<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanson.test.skill.dao.KillProductMapper">
  <resultMap id="BaseResultMap" type="com.hanson.test.skill.model.KillProduct">
    <id column="request_id" jdbcType="VARCHAR" property="requestId" />
    <result column="kill_id" jdbcType="BIGINT" property="killId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
    <result column="product_number" jdbcType="INTEGER" property="productNumber" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
  </resultMap>
  <sql id="Base_Column_List">
    request_id, kill_id, product_id, product_name, product_price, product_number, start_time, 
    end_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kill_product
    where request_id = #{requestId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from kill_product
    where request_id = #{requestId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hanson.test.skill.model.KillProduct">
    insert into kill_product (request_id, kill_id, product_id, 
      product_name, product_price, product_number, 
      start_time, end_time)
    values (#{requestId,jdbcType=VARCHAR}, #{killId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, 
      #{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=DECIMAL}, #{productNumber,jdbcType=INTEGER}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hanson.test.skill.model.KillProduct">
    insert into kill_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="requestId != null">
        request_id,
      </if>
      <if test="killId != null">
        kill_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="productNumber != null">
        product_number,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="requestId != null">
        #{requestId,jdbcType=VARCHAR},
      </if>
      <if test="killId != null">
        #{killId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productNumber != null">
        #{productNumber,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hanson.test.skill.model.KillProduct">
    update kill_product
    <set>
      <if test="killId != null">
        kill_id = #{killId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productNumber != null">
        product_number = #{productNumber,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where request_id = #{requestId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hanson.test.skill.model.KillProduct">
    update kill_product
    set kill_id = #{killId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_number = #{productNumber,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP}
    where request_id = #{requestId,jdbcType=VARCHAR}
  </update>
</mapper>